<div class="card">
  <div class="card-header">
  <h4>Product list</h4>
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <label class="col-2">Filter:</label>
      <input type="text" class="col-3"  [(ngModel)]='filterValue' (input)='filter()'>
      <div class="col-7"></div>
      </div>
  <div class="row mb-4">
  <h2 class="col-12">Filter by: </h2>
  </div>
  <table class="table">
  <thead>
  <tr>
  <th>
  Image
  </th>
  <th>Product</th>
  <th>Code</th>
  <th>Available</th>
  <th>Price </th>
  <th>5 Star Rating</th>
  </tr>
  <tr *ngFor='let p of products'>
    <td><img src="{{p.imageUrl}}" width="50px"></td>
    <td>{{p.productName}}</td>
    <td>{{p.productCode}}</td>
    <td>{{p.releaseDate}}</td>
    <td>{{p.price}}</td>
    <td>
    <div class="crop" [style.width.px]="p.starRating*90/5" title="rating">
    <div style="width: 90px">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    </div>
    </div>]
    </td>
    </tr>
  </thead>
  </table>
  </div>
  </div>
